<?xml version="1.0"?>
<config>
    <modules>
        <Meanbee_ConfigPoweredCss>
            <version>1.0.0</version>
        </Meanbee_ConfigPoweredCss>
    </modules>
    <global>
        <helpers>
            <meanbee_configpoweredcss>
                <class>Meanbee_ConfigPoweredCss_Helper</class>
            </meanbee_configpoweredcss>
        </helpers>
        <blocks>
            <meanbee_configpoweredcss>
                <class>Meanbee_ConfigPoweredCss_Block</class>
            </meanbee_configpoweredcss>
        </blocks>
        <models>
            <meanbee_configpoweredcss>
                <class>Meanbee_ConfigPoweredCss_Model</class>
            </meanbee_configpoweredcss>
        </models>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <meanbee_configpoweredcss_addcss>
                        <type>singleton</type>
                        <class>meanbee_configpoweredcss/observer_addcss</class>
                        <method>observe</method>
                    </meanbee_configpoweredcss_addcss>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Meanbee_ConfigPoweredCss after="Mage_Adminhtml">Meanbee_ConfigPoweredCss_Adminhtml</Meanbee_ConfigPoweredCss>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <meanbee_configpoweredcss>
                    <file>meanbee/configpoweredcss.xml</file>
                </meanbee_configpoweredcss>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <dev>
            <meanbee_configpoweredcss>
                <head_block>head</head_block>
            </meanbee_configpoweredcss>
        </dev>
    </default>
</config>
